@import "styles/_variables";
@import "styles/_mixins";

.navLinks {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;

  @media screen and (min-width: $tablet) {
    align-items: flex-end;
  }

  &__link {
    @include navLinks(7rem);
  }

  &__aboutLink {
    @include homeUnderline($about-gradient);
  }

  &__projectsLink {
    @include homeUnderline($projects-gradient);
  }

  &__contactLink {
    @include homeUnderline($contact-gradient);
  }
}
