@mixin homeUnderline($gradient) {
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 25px;
    bottom: 15px;
    left: 0;
    background-image: $gradient;
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
    z-index: -1;

    @media screen and (min-width: $tablet) {
      height: 30px;
      bottom: 20px;
    }
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
