$link-font: "Oswald", sans-serif;
$body-font: "Recoleta", sans-serif;

$mobile: 480px;
$tablet: 481px;
$desktop: 900px;

$navbar-padding: 0 2rem;
$navbar-height: 100px;
$desktop-padding: 5rem;
$mobile-padding: 1.5rem;
$max-width: 100rem;

$about-gradient: linear-gradient(to right, #8930ce, #2147ce);
$projects-gradient: linear-gradient(to right, #d51d07, #cb21ce);
$contact-gradient: linear-gradient(to right, #ee9208, #f6df0f);
