$mobile: 480px;
$tablet: 768px;
$desktop: 769px;

$nav-padding: 2rem;

$about-gradient: linear-gradient(to right, #8930ce, #2147ce);
$projects-gradient: linear-gradient(to right, #d51d07, #cb21ce);
$contact-gradient: linear-gradient(to right, #ee9208, #f6df0f);
